 

.navbar-links a {
  color: #333333 !important;   
  text-decoration: none;
  cursor: pointer;
}

 .navbar-links a:hover {
  text-decoration: underline;
  color: #1a0dab !important;  
}

 .navbar-links a.active-link {
  color: #1a0dab !important;  
  font-weight: bold;
}

.navbar-links a.active-link {
  color: #1a0dab !important;
  font-weight: bold;
}